<div id="content"  data-ng-init="ctrl.init()">
  <div class="noti">Oppai Notification : {{ctrl.greeting}}</div>
  <div class="row">
    <div class="col-md-2 col-xs-2">
      <form ng-show="!ctrl.userinfo" ng-submit="ctrl.login(data)">
        <div class="form-group">
          Email address
          <input type="email" class="form-control" ng-class="{'success' : emailPass==true , 'err' : emailPass==false , 'default' : emailPass=='default'}" ng-model="data.email" placeholder="Email" required>
        </div>
        <div class="form-group">
          Password
          <input type="password" class="form-control" ng-class="{'success' : passwordPass==true , 'err' : passwordPass==false , 'default' : passwordPass=='default'}" ng-model="data.password" placeholder="Password" required>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-checked="remember" ng-model="remember"><small> Remember </small>
          </label>
        </div>
        <p class="text-center">
          <small>
            <a href="#/register">Register</a>
            <em>Forget password?</em>
          </small>
        </p>
        <button type="submit" class="btn  btn-block btn-primary" ng-click="login(email,password);">L o g i n</button>
      </form>
      <div ng-show="ctrl.userinfo" class="text-center">
        <img ng-src="{{ctrl.avatar}}" title="Hi ~~~~" class="img-thumbnail avatar">
        <p class="bg-primary">
          <small><i class="ion-person"></i> {{ctrl.name}}</small>
        </p>
        <p class="panal bg-success">
          <a href="#/"><i class="ion-email" title="message"></i></a>
          <a href="#/backend" ng-show="ctrl.admin >=4"><i class="ion-at" title="system"></i></a>
          <a href="#/backend"><i class="ion-android-settings" title="config"></i></a>
        </p>
        <p>----- info ----</p>
        <p><i class="ion-heart"></i> 999 </p>
        <p><i class="ion-android-folder"></i> 999 </p>
        <p>----- pet -----</p>
        <button type="button" class="btn btn-block btn-xs btn-danger" ng-click="logout()">L o g o u t</button>
      </div>

      <hr>
      Anime Fall 2016
    </div>
    <div class="col-md-10 col-xs-10">
      <h5 class="noti"><i class="ion-android-folder"></i> New Update Manga</h1>
      <br> <br> <br> <br> <br> <br> <br> <br> 
      <h5 class="noti"><i class="ion-android-folder"></i> New Update Anime</h1>
      <br>
      <div ng-repeat="data in ctrl.anime | orderBy : 'update_time' | limitTo:5 " style="float:left">
        <a ng-href="#/anime/{{data.anime_id}}" target="_blank" title="{{data.topic}}"><img class="img-thumbnail cover" title="{{data.topic}}" ng-src="{{data.cover_path}}"></a>
        <!-- <p class="text-primary "><small>{{data.topic}}</small></p> -->
      </div>
      <div style="clear:both;"></div>
    </div>
    <div class="col-md-8 col-xs-8">
      <hr>
        Chatbox
    </div>
    <div class="col-md-4 col-xs-4">
      <hr>
      Youtube
      <br>
      <!--iframe width="370" height="200" src="https://www.youtube.com/embed/YM0B7BPHif8?" frameborder="0" allowfullscreen></iframe-->
    </div>
    <div class="col-md-12 col-xs-12">
      <hr>
      Anime 2016
    </div>
    <div class="col-md-8 col-xs-8">
      <hr>
      Cosplay
    </div>
    <div class="col-md-4 col-xs-4">
      <hr>
      Shop
    </div>
    <div class="col-md-4 col-xs-4">
      <hr>
      Ranking
    </div>
    <div class="col-md-4 col-xs-4">
      <hr>
      Ranking
    </div>
    <div class="col-md-4 col-xs-4">
      <hr>
      Ranking
    </div>
    <div class="col-md-12 col-xs-12">
      <hr>
      <div class="foot" style="float:right;"> 
        <div class="one">Home</div>
        <div class="two">Anime</div>
        <div class="thee">Manga</div>
        <div class="four">Music</div>
        <div class="five">Pixoppai</div>
        <div class="six">Game</div>
        <div class="seven">Hentai</div>
        <div class="white">Fansub</div>
        <div class="white">Feedback</div>
      </div>
    </div>
  </div><!-- end row -->
</div><!-- end content -->
    
