<div id="content">
  <div class="row">
    <div class="col-md-12 col-xs-12">
    Register
    <form ng-show="!userinfo">
      <div class="form-group">
      Oppai Name 
      <input type="text" class="form-control" ng-class="{'success' : Pass==true , 'err' : Pass==false , 'default' : Pass=='default'}" ng-model="oppai_name" placeholder="Oppai" ng-change="checkOppainame(oppai_name)" required>
      </div>
      <div class="form-group">
      Email address
      <input type="email" class="form-control" ng-class="{'success' : Pass==true , 'err' : Pass==false , 'default' : Pass=='default'}" ng-model="email" placeholder="Email" required>
      </div>
      <div class="form-group">
      Password
      <input type="password" class="form-control" ng-model="password" placeholder="Password" required>
      </div>
      <p class="text-center text-danger"><em><small>{{ message }}</small></em></p>
      <button type="submit" class="btn  btn-block btn-success" ng-disabled="!Pass" ng-click="register(oppai_name,email,password);">
        Register
      </button>
      <button type="submit" class="btn  btn-block btn-primary" ng-click="back()">Cancle</button>
    </form>
  </div><!-- end row -->
</div><!-- end content -->
    
