RewriteEngine on
##### no nasty crackers in here!
order deny,allow
deny from all
allow from 0.0.0.0/24
##### this would do the same thing..
#allow from 192.168.0

##### no one gets in here!
#deny from all

####ben
#order allow,deny
#deny from 83.222.23.219
#allow from all